 @import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@500&family=Permanent+Marker&family=Poppins&family=Russo+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
body{
    scroll-snap-type: y mandatory;
    overflow: y scroll;
    background:url(xmxmxm.gif) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
    width: 100vw;
   
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background:  rgba(86, 100, 136, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid rgba(86, 100, 136, 0.5);;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(60deg,transparent,rgba(169, 182, 217, 0.7),transparent);
    
    

}
.header:hover::before{
    left: 100%;
}
.logo{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    margin-top: -35px;
    margin-bottom: -40px;
    margin-left: -60px;
}
nav a{
    color: aliceblue;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}
nav a:hover{
    color: rgb(252, 187, 103);
}
img{
    width: 160px; 
    height:120px;
}
.btn {
  display: inline-block;
  padding: 8px 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color:  rgba(86, 100, 136, 0.5);
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}




